@charset "UTF-8";
body, p, h1, h2, h3, h4, h5, h6, ul, dl, dd, td, input, textarea, option {
  margin: 0;
  padding: 0;
}

body {
  font: 12px "微软雅黑";
  color: #666;
}

li {
  list-style: none;
  float: left;
}

a {
  color: #666;
  text-decoration: none;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

a:hover {
  color: #FF6600;
  text-decoration: none;
}

img, input {
  border: 0;
  vertical-align: top;
}

a, input {
  outline: none;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: 100;
}

i, em {
  font-style: normal;
}

.clear {
  zoom: 1;
}

.clear:after {
  content: ".";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.promise_bg {
  background: #FF6600;
  height: 65px;
}
.promise_bg .promise {
  height: 65px;
  width: 1200px;
  margin: 0 auto;
}
.promise_bg .promise ul {
  height: 65px;
}
.promise_bg .promise ul li {
  width: 232px;
  height: 65px;
  margin-right: 10px;
  line-height: 65px;
  font-weight: 600;
  padding: 0 56px;
}
.promise_bg .promise ul li span {
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
  color: white;
  display: inline-block;
  vertical-align: middle;
}
.promise_bg .promise ul .no_margin {
  margin-right: 0;
}

.foot_nav_bg {
  height: 256px;
  background: white;
}
.foot_nav_bg .foot_nav {
  height: 256px;
  width: 1200px;
  margin: 0 auto;
  padding: 40px 0 0 30px;
}
.foot_nav_bg .foot_nav ul {
  width: 67px;
  margin-right: 88px;
}
.foot_nav_bg .foot_nav ul li {
  float: none;
  line-height: 24px;
  height: 24px;
}
.foot_nav_bg .foot_nav ul .tit {
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.foot_nav_bg .foot_nav .say {
  width: 240px;
  position: relative;
}
.foot_nav_bg .foot_nav .say p {
  font-size: 30px;
  color: #FF6600;
  font-weight: 700;
  position: absolute;
  top: 90px;
  left: 40px;
}
.foot_nav_bg .foot_nav .say span {
  display: block;
  padding-left: 90px;
}
.foot_nav_bg .foot_nav .say a {
  display: block;
  height: 30px;
  width: 120px;
  border: 1px solid #FF6600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  color: #FF6600;
  margin: 10px 0 0 100px;
}
.foot_nav_bg .foot_nav .say a:hover {
  background: #FF6600;
  color: white;
}

.address_bg {
  height: 198px;
  background: #333;
}
.address_bg .address {
  width: 1200px;
  margin: 0 auto;
  padding: 24px 0 0 0;
  text-align: center;
  color: #999;
}
.address_bg .address h1 {
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin-top: 0;
}
.address_bg .address p {
  height: 20px;
  line-height: 20px;
}
.address_bg .address ul {
  overflow: hidden;
  margin: 0 auto;
  width: 530px;
  padding: 20px 0;
}
.address_bg .address ul li {
  margin-right: 10px;
}
.address_bg .address a {
  color: #999;
}
.address_bg .address a:hover {
  color: #FF6600;
}
